<header>

  <div class="main-menu">
    <div class="image-logo">
      <span class="main-title">ElaArtes</span>
    </div>


    <div class="contact-about">
      <span>Contato</span>
      <span>Sobre</span>
    </div>
  </div>


</header>

<!--    <div class="input-search">-->
<!--      <img src="assets/lupa-icon.svg" alt="Busca" >-->
<!--      <input placeholder="Procurar item">-->
<!--    </div>-->


<!--  <div class="section-select">-->
<!--&lt;!&ndash;    <span> Home</span>&ndash;&gt;-->
<!--    <span> Contato</span>-->
<!--    <span> Sobre</span>-->
<!--  </div>-->
