.slide-wrapper{
  display: flex;
  flex-direction: column;


  background: rebeccapurple;
  width: 50%;
  height: 50%;
}

.slide-container{
  display: flex;
  flex-direction: column;

  padding: 1rem;
}
